h1 {
    font-size: 150;
}

body {
    text-align: center;
}

h2 {
    background: #000;
    background-repeat: no-repeat;
    color: #000;
    font-size: 100px;
    text-shadow: 0 0 4px #ccc, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -18px 18px #f20;
}

h3 {
    background: #fff;
    color: #000;
    font-size: 100px;
    text-shadow: 0px 20px #000;
}

h4 {
    background: #000;
    color: #fff;
    font-size: 100px;
    text-shadow: 1px 1px 6px #fff;
}

h5 {
    background: #000;
    color: #666;
    font-size: 50px;
    text-shadow: 0px 1px 0px #ccc;
}